body
{
    padding:0;
    margin:0;
    background:url("pic1.jpeg");
    background-size:cover;
    background-position: center;
    

}
.loginbox{
    width:320px;
    height:420px;
    background:#000;
    color:#fff;
    top: 18%;
    left:36%;
    
    position: absolute;
    box-sizing: border-box;

   
    

}
.loginbox input[type="text"],input[type="password"]
{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
}